<ol class="breadcrumb">
    <li>
      {{#link-to "index"}}Home{{/link-to}}
    </li>
    <li>
      {{#link-to parentRouteName}}{{sectionName}}{{/link-to}}
    </li>
    <li class="active">
      {{#if (get item 'isNew') }}
          New
      {{else}}
        {{item.name}}
      {{/if}}
    </li>
</ol>

<h3>
  {{#if (get item 'name') }}
    {{item.name}}
  {{else}}
      Noname
  {{/if}}
</h3>

{{yield}}

<form id='cave-element-edit-form' {{action "save" on="submit"}}>
  {{#cave-element-edit-form-field item=item field='name' required="required"}}{{/cave-element-edit-form-field}}
  {{#cave-element-edit-form-field item=item field='type' required="required"}}{{/cave-element-edit-form-field}}
  {{#if isArtifact}}
    {{#cave-element-edit-form-field item=item field='aspect' required="required" type="number"}}{{/cave-element-edit-form-field}}
  {{/if}}
  {{#if isBot}}
    {{#cave-element-edit-form-field item=item field='level' type="number"}}{{/cave-element-edit-form-field}}
    {{#cave-element-edit-form-field item=item field='map'}}{{/cave-element-edit-form-field}}
    {{#cave-element-edit-form-field item=item field='align' type="number"}}{{/cave-element-edit-form-field}}
    {{#cave-element-edit-form-field item=item field='hp' type="number"}}{{/cave-element-edit-form-field}}
    {{#cave-element-edit-form-field item=item field='stats' textarea=true}}{{/cave-element-edit-form-field}}
    {{#cave-element-edit-form-field item=item field='adds' textarea=true}}{{/cave-element-edit-form-field}}
    {{#cave-element-edit-form-field item=item field='priems'}}{{/cave-element-edit-form-field}}
    {{#cave-element-edit-form-field item=item field='sex' type="number"}}{{/cave-element-edit-form-field}}
    {{#cave-element-edit-form-field item=item field='clan' type="number"}}{{/cave-element-edit-form-field}}
    {{#cave-element-edit-form-field item=item field='izlom' type="number"}}{{/cave-element-edit-form-field}}
  {{/if}}

  {{#unless (get item 'isNew') }}
      <div class="form-group row">
          <label class="col-sm-2 form-control-label text-muted">Image</label>

          <div class="col-sm-10">
              <div>
                  <img src="{{item.freshImage}}" class="img-thumbnail img-responsive" alt="{{item.name}}">
              </div>
              <small class="text-muted">{{item.img}}</small>
          </div>
      </div>
      <div class="form-group row">
          <label class="col-sm-2 form-control-label text-muted">Change image</label>

          <div class="col-sm-10">
              <div>
                  <label class="file">
                      <input id='cave-element-edit-form-image-file' type="file"
                             accept="{{accept}}" {{action "uploadLocalImage" on="change"}}>
                      <span class="file-custom"></span>
                  </label>
              </div>
              <p class="text-muted">or</p>

              <div class="input-group">
                {{input type="text" value=remoteImageURL class="form-control" placeholder="Insert image url to upload..."}}
                  <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button" {{action "uploadRemoteImage" remoteImageURL}}>Upload
                  </button>
                </span>
              </div>
          </div>
      </div>
  {{/unless}}

    <button class="btn-primary-outline btn">Save</button>
</form>
