<ol class="breadcrumb">
    <li>
      {{#link-to "index"}}Home{{/link-to}}
    </li>
    <li>
      {{#link-to parentRouteName}}{{sectionName}}{{/link-to}}
    </li>
    <li class="active">{{item.name}}</li>
</ol>

<h3>{{item.name}}</h3>

{{yield}}

<form id='cave-element-edit-form'>
  {{#cave-element-edit-form-field value=item.type name='Type' }}{{/cave-element-edit-form-field}}
  {{#cave-element-edit-form-field value=item.aspect name='Aspect' }}{{/cave-element-edit-form-field}}
  {{#cave-element-edit-form-field value=item.level name='Level' }}{{/cave-element-edit-form-field}}
  {{#cave-element-edit-form-field value=item.map name='Map' }}{{/cave-element-edit-form-field}}
  {{#cave-element-edit-form-field value=item.align name='Align' }}{{/cave-element-edit-form-field}}
    <div class="form-group row">
        <label class="col-sm-2 form-control-label text-muted">Image</label>

        <div class="col-sm-10">
            <div>
                <img src="{{item.freshImage}}" class="img-thumbnail img-responsive" alt="{{item.name}}">
            </div>
            <small class="text-muted">{{item.img}}</small>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 form-control-label text-muted">Change image</label>

        <div class="col-sm-10">
            <div>
                <label class="file">
                    <input id='cave-element-edit-form-image-file' type="file"
                           accept="{{accept}}" {{action "uploadLocalImage" on="change"}}>
                    <span class="file-custom"></span>
                </label>
            </div>
            <p class="text-muted">or</p>

            <div class="input-group">
              {{input type="text" value=remoteImageURL class="form-control" placeholder="Insert image url to upload..."}}
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button" {{action "uploadRemoteImage" remoteImageURL}}>Upload</button>
                </span>
            </div>
        </div>
    </div>
</form>
