<ol class="breadcrumb">
    <li>{{#link-to "index"}}Home{{/link-to}}</li>
    <li class="active">{{sectionName}}</li>
</ol>

<h1>{{sectionName}}</h1>


<form class="form-inline clearfix m-y-md">
    <fieldset class="form-group">
        <label>Search:</label>
      {{input value=name class="form-control" placeholder="filter by name"}}
    </fieldset>
  {{yield}}
</form>

<ul class="item-list media-list">
  {{#each visibleItems as |item|}}
      <li class="media">
        {{#link-to modelName item class="media-left"}}
            <img src="{{item.image}}" class="media-object img-responsive"/>
        {{/link-to}}

          <div class="media-body">
              <h3 class="media-heading">
                {{item.name}}
              </h3>
              <ul class="list-inline">
                  <li>Type <strong>{{item.type}}</strong></li>
                  <li>Aspect <strong>{{item.aspect}}</strong></li>
                  <li>{{#link-to modelName item class="btn btn-secondary btn-sm"}}Open{{/link-to}}</li>
              </ul>
          </div>
      </li>
  {{/each}}
</ul>
